
*{
    margin: 0;
    text-align: center;
}
body{
    background-color: rgb(206, 246, 246);
}
#whole{
    max-width: 600px;
    min-width: 600px;
    margin: 0 auto;
}

div{
    font-weight: 900;
    font-size: 20px;
}

button{
    display:block;
    width:250px;
    margin: 10px auto;
    border:none;
    height:80px;
    font-size: 30px;
    font-weight: 500;
    border-radius: 20px 0px 20px 0px;
    background:linear-gradient(whitesmoke 30%, grey, rgb(98, 100, 247));
    box-shadow: -4px 0px 10px rgb(68, 95, 247);
    transition: transform 0.2s;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    transform: scale(1);
}
#current-time{
    background-color: rgb(22, 21, 21);
    color: rgb(255, 0, 0);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
ul{
    padding: 0;
    width:150px;
}

li{
    min-height: 25px;
    display:block; 
    list-style: none;
    border-bottom: solid 5px;
    border-radius: 50px;
    width:150px;
    margin: 10px auto;
    background:linear-gradient(whitesmoke 50%, grey, black);
    box-shadow: -4px 0px 5px black;

    padding:5px;
}

.circle{
    display: flex;
    justify-content: start;

}
.cubes{
    width: 223px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.cube{
    width: 20px;
    height: 50px;
    border: solid 3px black;
    margin: 8px 0px 0px 0px;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
}

.description{
    max-width: 160px;
    min-width: 160px;
    height: 50px;
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;;
}